# Ignore everything
*

# But keep these directories and their contents
!astro-src/
!astro-src/**
!.github/
!.github/**

# Still ignore DS_Store files even in tracked folders
**/.DS_Store
**/**DS_Store
