---
layout: main
title: About Me
excerpt: Satish Lokkoju is a Research Scientist working for Amazon, writes about Machine Learning & Economics
permalink: about/
---

<div class="container" id="about-page">
   <!-- <div class="row">

    <div class="col s12 l10 offset-l1">
      <div class="card">
        <<div class="card-image">
          <img src="/assets/images/hongjing.jpeg">
          <span class="card-title">Hi! I'm Hong Jing, you can call me Jingles</span>
        </div> 
        <div class="card-content">
          <img class="circle" src="/assets/images/satish.jpg" style="width: 100px; float:left; margin: 10px;">
          <span class="card-title">If you are curious</span>
          <p>Engineer and wannabe economist with 9+ Years of experience in the field of Computer Vision, Machine Learning and Deep Learning. Graduated with Bachelors in Electrical and Electronics Engineering and Masters of Science in Economics from Birla Institute of Technology and Science, Pilani Rajasthan. Currently working in Amazon as a Research Scientist II in the field of computer vision and machine learning. I like the challenge of developing complex vision/ Machine Learning solutions for memory/resource constrained hardware. Earlier in a different life, I worked in Canon on Vision framework which is used in many product families. Before Canon I have successful stint in Samsung. Successfully commercialized computer vision/ imaging solutions to Samsung Galaxy series mobile devices. We also developed POC of pixel wise image classification (semantic segmentation), virtual human character modelling and face feature tracking algorithms.</p>
        </div>
      </div>
    </div>

  </div> -->

  <div class="card">
    <div class="card-content flow-text">
      <h1 class="title grey-text text-darken-4">{{page.title}}</h1>
      <h5 class="subtitle grey-text text-darken-2">{{page.description}}</h5>
      <!-- <span class="new badge blue" data-badge-caption="{{ page.date | date_to_string }}"></span> -->
    </div>
    <div class="card-image">
      <img class="materialboxed" data-caption="{{ page.image-caption }}" src="{{ page.image }}" alt="{{ page.image-caption }}">
      <!-- <span class="card-title" style="text-shadow: 1px 1px 2px black;">{{page.image-caption}}</span> -->
    </div>
    <div class="card-content flow-text blog-content">
      <img class="circle" src="/assets/images/satish.jpg" style="width: 100px; float:left; margin: 10px;">
      {{ content }}
    </div>
    <div class="card-action">
      <a href="/tags/">
        {{page.tag}}
        {% for tag in page.tags %}
          <span class="new badge blue" data-badge-caption="{{tag}}"></span>
          <!-- <span class="new badge blue">{{tag}}</span> -->
        {% endfor %}
      </a>
    </div>
  </div>

  <div id="hyvor-talk-view" class="wrapper_disqus"></div>
  <script type="text/javascript">
      var HYVOR_TALK_WEBSITE = 429; // DO NOT CHANGE THIS
      var HYVOR_TALK_CONFIG = {
          url: '{{ page.url | absolute_url }}',
          id: '{{page.id}}'
      };
  </script>
  <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>

</div>
