<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <style>
      hr { 
        margin-top: 1.5em;
        margin-bottom: 1.5em;
      } 

      div {
        margin-top : 10px;
      }
    </style>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <p><a href="{{ site.github.repository_url }}">View the Project on GitHub <small> Satish Lokkoju</small></a></p>
        <ul>
          <li><a href="{{ site.github.linkedin }}"><svg class="svg-icon"><use xlink:href="/assets/images/minima-icons.svg#linkedin"></use></svg> Goto <strong>Linkedin</strong> </a></li>
          <li><a href="{{ site.github.resume }}">Download <strong>Resume</strong></a></li>
          <li><a href="{{ site.github.repository_url }}"><svg class="svg-icon"><use xlink:href="/assets/images/minima-icons.svg#github"></use></svg> Goto <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>

      {{ content }} 

      </section>
    </div>

    <div id="disqus_thread" class="wrapper_disqus">
    <script>
    var disqus_config = function () {
    this.page.url = "{{ site.website.url }}";
    this.page.identifier = "{{ site.website.shortened }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { 
    var d = document, s = d.createElement('script');
    s.src = 'https://satishlokkoju-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        
    <!--
    <script src="https://satishlokkoju-github-io.disqus.com/embed.js" async defer></script>
    <noscript>Please enable JavaScript to view the comments.</noscript> 
    -->    
    </div>

    <footer>
    {% if site.github.is_project_page %}
      <p>Personal site of <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
      <p>Hosted on GitHub Pages &mdash; Theme inspired from <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

  </body>
</html>
